In [3]:
import pandas as pd

In [2]:
# Obter dados do excel
def Criar_lista_filiados ():
    lista_filiados = pd.read_excel("Filiados UP (respostas).xlsx")
    return lista_filiados

In [3]:
# Filtrar lista do excel, remove todas as linhas que não possuam o valor "filtro" na "col_filt"
def Filt_list (lf, filtros):
    lf_filt = lf.loc[lambda lf: lf[filtros[2]] == filtros[1], filtros[0]]
    return lf_filt

In [4]:
# Selecionar parametros de filtro
def Selec_filt ():
    colunas = list()
    coluna = input("Colunas se quer manter na planilha final separado por vírgula - ")  # Colunas se quer manter na planilha final
    while coluna:
        colunas.append(coluna)
        coluna = input("Colunas se quer manter na planilha final separado por vírgula - ")  # Colunas se quer manter na planilha final
    col_filt = input("Coluna usada para filtrar planilha - ") # Coluna usada como filtro para procurar     
    filtro = input("Valor procurado na col_filt - ")   # Valor procurado na col_filt
    return colunas, filtro, col_filt

In [13]:
# Obter dados do excel
def Criar_lista_doadores ():
    pd.options.display.float_format = "{:,.2f}".format
    lista_doadores = pd.read_excel("Doadores UP.xlsx", sheet_name="Plan1")
    lista_doadores['Valor'] = lista_doadores['Valor'].astype('float64')
    lista_doadores['Numero Recibo'] = lista_doadores['Numero Recibo'].fillna(0.0).astype('int64')
    lista_doadores['CPF'] = lista_doadores['CPF'].fillna(0.0).astype('int64')
    return lista_doadores

In [1]:
#lista_doadores = Criar_lista_doadores ()

#print(lista_doadores.head())
#print(lista_doadores.tail())
#print(lista_doadores.dtypes)
#for i in lista_doadores.index:
#    Data = (lista_doadores.at[i, "Data:"])#Obter iésima entrada de dado de valor da tabela
#    print(type(Data))
#    if type(Data) is str:
#        print(Data)
#    else:
#        Data = str(Data)
#        print(Data[8:10]+Data[5:7]+Data[0:4])
#    input()

In [6]:
# Obter dados do excel
def Criar_lista_contatos ():
    lista_contatos = pd.read_excel("Contatos.xlsx")
    return lista_contatos

In [7]:
# Obter dados do excel
def Criar_Lista_Dados ():
    #ano = input("Ano da votação")
    #UF = input("UF da votação")
    ano = 2018
    UF = Rj
    Lista_Dados = pd.read_excel(f"Votação {ano} por Partido - {UF}.xlsx")
    return Lista_Dados

In [47]:
# Filtrar lista do excel, remove todas as linhas que não possuam o valor "filtro" na "col_filt"
def Format_Numb (lf):
    b = ")(+ -"
    for num_a in lf['Celular:']:
        num_b = num_a
        for i in b:
            num_b = str(num_b).replace(i,'')
        lf = lf.replace(to_replace=num_a, value='55'+num_b[len(num_b)-11:len(num_b)])
    return lf

,Nome,Celular:,EMAIL,Cidade,Mensagem
0,Fellipe da Costa Lugão,5521988767953,lugao255@gmail.com,Rio de Janeiro,NaN
1,Felipe Barbosa Garcia Costa,5524992525480,feli.pe.flx@hotmail.com,Três Rios,NaN
2,Manuela Rangel,5521999767700,manuelarangelds@gmail.com,Rio de Janeiro,NaN
3,Natasha Luiz Salmenda de Freitas,5521974962903,Freitasnatasha07@gmail.com,Riode Janeiro,NaN
4,André Fernandes Roppa Cruz,5521969878640,fernandesroppa@gmail.com,Rio de Janeiro,NaN
...,...,...,...,...,...
510,adryanne mendes pereira,5521991532852,contato.adryanne@icloud.com,Rio de Janeiro,NaN
511,Rômulo Rodrigues Moraes Queiroz,5521982729076,romulorodrigues552@gmail.com,Rio de Janeiro,NaN
512,São Gonçalo,5521982201994,21 982201994,caikandrade0@gmail.com,NaN
513,Maria Gabriela de Paiva Briñas,5521964973926,mgabrielapaivab@gmail.com,Rio de Janeiro,NaN
514,João Pedro Marins Barbosa Joaquim,5522998928285,NaN,Campos dos Goytacazes,NaN